.slider{
    height: 250px;
    margin:auto;
    width: 90%;
    display: grid;
    place-items: center;
}
.slide-track{
    display: flex;
    width: calc(250px*5);
    animation: scroll 40% linear infinite;
}
.slide{
    height: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 250px;
}
p{
    width: 100%;
}
.slider::before,
.slider::after{
    background:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0)100%);
    height: 100%;
    width: 15%;
    z-index:2;
    

}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
right: 0;
top:0;
transform:rotateZ(180deg);
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*5));
    }
}